<form id="editUser" class="modalFormContainer">
    <input type="text" class="hidden" name="id" value="<%= user.id %>" />
    <input type="text" class="hidden" name="contact.id" value="<%= user.contact ? user.contact.id : "" %>" />
    <ul>
        <li><label class="modalFieldName" for="username">Username</label> <input class="modalInput" type="text" name="username" value="<%= user.username %>" /></li>
        <%if(user.id == null){%>
            <li><label class="modalFieldName" for="password">Password</label> <input class="modalInput" type="text" name="password" /></li>
        <%}%>
        <li><label class="modalFieldName" for="email">Email</label> <input class="modalInput" type="text" name="contact.emailAddress" value="<%= user.contact ? user.contact.emailAddress : "" %>"/></li>
        <li><label class="modalFieldName" for="firstName">First Name</label> <input class="modalInput" type="text" name="firstName" value="<%= user.firstName %>"/></li>
        <li><label class="modalFieldName" for="middleName">Middle Name</label> <input class="modalInput" type="text" name="middleName" value="<%= user.middleName %>"/></li>
        <li><label class="modalFieldName" for="lastName">Last Name</label> <input class="modalInput" type="text" name="lastName" value="<%= user.lastName %>"/></li>
        <li><label class="modalFieldName" for="name">Contact Name</label> <input class="modalInput" type="text" name="contact.name" value="<%= user.contact ? user.contact.name : "" %>"/></li>
        <li><label class="modalFieldName" for="phone">Phone</label> <input class="modalInput" type="text" name="contact.phoneNumber" value="<%= user.contact ? user.contact.phoneNumber : "" %>"/></li>

        <hr class="modalHR">

        <li><label class="modalFieldName" for="roles">Roles</label>
            <div class="rolesContainer">
                <ul>
                    <li class = "hidden"><input type="checkbox" name="roles[]" value="" class="role" checked></li>
                    <% if(availableRoles){ %>
                        <% for(var i = 0; i < availableRoles.length; ++i){ %>
                            <li><input type="checkbox" id="id" value="<%= availableRoles[i].id %>" name="roles[]" class="role"><%= availableRoles[i].name %></input></li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </li>
    </ul>
</form>