<thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Actions</th>
</thead>
<tbody>
    <% for(var i = 0; i < object.length; ++i){ %>
    <tr>
        <td><%= object[i].firstName %></td>
        <td><%= object[i].lastName %></td>
        <td><%= object[i].contact.emailAddress %></td>
        <td>
            <a href="#"><div class="edit_button" id="<%= object[i].id %>">Edit</div></a>
            <a href="#"><div class="delete_button" id="<%= object[i].id %>">Delete</div></a>
        </td>
    </tr>
    <% } %>
</tbody>