<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit <%= type %></h4>
        </div>
        <div class="modal-body">
            <form id="editRoom" action="#" method="post">
                <input type="text" class="hidden" name="id" value="<%= room.id %>" />
                <ul>
                    <li><label>Name</label> <input type="text" name="name" value="<%= room.name %>" /></li>
                    <li><label>Description</label> <input type="textarea" name="description" value="<%= room.description %>" /></li>
                </ul>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="<%= type.toString().toLowerCase() %> delete button btn btn-primary">Delete</button>
            <button type="button" class="<%= type.toString().toLowerCase() %> submit button btn btn-primary">Save changes</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->